{% load static %}
<title>AXI Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<header class="header">
  <a href="{% url 'polls:index' %}" class="header-link">View Polls</a>
</header>

<section class="landing-section landing-main">
  <div class="landing-section-content">
    <h1 class="brand">polling_app</h1>
    <p class="landing-main-text">
      A public site that lets people view polls and vote in them.
      <br><br>
      Check out all current polls by clicking on "View Polls" (top-right)
    </p>
  </div>
</section>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>Title</title>-->

<!--        {% load static %}-->
<!--    <link rel="stylesheet" type="text/css" href="{% static './style.css' %}">-->

<!--</head>-->
<!--<body>-->
<!--    <header class="header">-->
<!--      <a href="#" class="header-link">View Polls</a>-->
<!--      <a href="#" class="header-link">View Results</a>-->
<!--    </header>-->

<!--    <section>-->
<!--      <h1 class="brand">polling_app</h1>-->
<!--      <p class="landing-main-text">-->
<!--        A public site that lets people view polls and vote in them.-->
<!--      </p>-->
<!--    </section>-->
<!--</body>-->
<!--</html>-->